.mesa {
    height: 100vh;
    background: #0f5132;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
  }
  
  .topo h2 {
    margin-bottom: 5px;
  }
  
  .oponente,
  .sua-mao {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .carta {
    width: 60px;
    height: 90px;
    background: white;
    color: black;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    cursor: pointer;
  }
  
  .verso {
    background: black;
  }
  
  .centro {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mesa-jogo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #145c3a;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed white;
  }
  
  .acoes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
  }
  
  .acoes button {
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }
  
  .voltar {
    background: #000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  